body{
/*	margin : 0 20% 1em 20%; */
	padding : 0 1em 1em auto;
	margin-left: 1em;
	background-color : #eed2d3;
	font-family: 'Taviraj', serif;
}

header{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

h1{
	padding : 0.2em 1em 0.2em 1em;
	font-size: 2em;
	color : #eed2d3;
	background-color : #ae1f24;
}

section{
	margin : 0 1em auto 1em;
	width : 30em;
	float : left;
/*	background-color : #edb6b8; */
}


img#muro{
	width:100%;
	padding : 0 0 0 0;
	margin : 0 0 0 0;
}

/* ED131E */
section#vote{
	border: solid black 2px;
	padding : 1em 1em 1em 1em;
	font-size : 1.2em;
	max-width : 25em;
	margin-left : 2em; 
}

p.button{
	text-align: center;
}

a.button{
	border-radius : 1em;
	border: none;	
	padding: 0.5em 1em 0.5em 1em;
	text-decoration: none;
	color : #eed2d3;
	background-color : #ae1f24;
}

footer
{
	padding-top: 1.5em;
	clear: both;
	margin-left: 1em;
}