body{
/*	margin : 0 20% 1em 20%; */
	padding : 0 1em 1em auto;
	margin-left: 1em;
/*	background-color : #eed2d3; */
	background-color : #FA9455;
	font-family: 'Taviraj', serif;
}

header{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}


h1{
	font-size: 1.2em;
	margin-top: 0;
	color : #eed2d3;
	background-color : #ae1f24;
}

section{
	margin : 0 1em auto 1em;
	width : 30em;
	float : left;
/*	background-color : #edb6b8; */
}


img#muro{
	width:100%;
	padding : 0 0 0 0;
	margin : 0 0 0 0;
}

/* ED131E */
section#vote{
	border: solid black 2px;
	padding : 1em 1em 1em 1em;
	font-size : 1.2em;
	max-width : 25em;
	margin-left : 2em; 
}

p.button{
	text-align: center;
}

a.button{
	border-radius : 1em;
	border: none;	
	padding: 0.5em 1em 0.5em 1em;
	text-decoration: none;
	color : #eed2d3;
	background-color : #ae1f24;
}

footer
{
	padding-top: 1.5em;
	clear: both;
	margin-left: 1em;
}

/* navbar */
.navbar-default {
    background-color: #ae1f24;
    border:0px;
    border-top:1px solid white;
    border-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
}


/* link */
.navbar-default .navbar-nav > li > a {
    color: #eed2d3;
}

/*toggle*/
div img
{
	width:2em;
	height:2em;
}

div.data
{
	text-align: center;
}

li
{
	list-style: none;
}