body{
/*	margin : 0 20% 1em 20%; */
	padding : 0 1em 1em auto;
	margin-left: 1em;
	margin-right: 1em;
/*	background-color : #eed2d3; */
	background-color : #FA9455;
	font-family: 'Taviraj', serif;
}

header{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}


h1{
	font-size: 1.2em;
	margin-top: 0;
	color : #eed2d3;
	background-color : #ae1f24;
}

section{
	margin : 0 1em auto 1em;
	width : 30em;
	float : left;
/*	background-color : #edb6b8; */
}



img#muro{
	width:100%;
	height: 100%;
	padding : 0 0 0 0;
	margin : 0 0 0 0;
}

/* ED131E */
#vote{
	padding : 4.5em 1em 1em 1em;
	font-size : 1em;
	width : 16em;
	height : 16em;
	margin-left : 2em; 
	background-image: url('img/heart-gray.svg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size : 100% auto;
	text-align:center;
	line-height:180%;
}

#vote a{
	white-space: nowrap;
}

@media only screen and (max-width: 1100px){
div#vote{
	border: solid black 2px;
	padding : 1em 1em 1em 1em;
	font-size : 1.2em;
	max-width : 25em;
	margin-left : 0px;
}
}



p.button{
	text-align: center;
}

a.button{
	border-radius : 1em;
	border: none;
	padding: 0.5em 1em 0.5em 1em;
	text-decoration: none;
	color : #eed2d3;
	background-color : #ae1f24;
}

footer
{
	padding-top: 1.5em;
	clear: both;
	margin-left: 1em;
}

/* navbar */
.navbar-default {
    background-color: #ae1f24;
    border:0px;
    border-top:1px solid white;
    border-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
}


/* link */
.navbar-default .navbar-nav > li > a {
    color: #eed2d3;
}


@media only screen and (max-width: 1100px){
#paragrafo{
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-bottom: 1%;


}
}

@media only screen and (min-width: 768px){
#paragrafo{
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-bottom: 1%;
}
}

@media only screen and (max-width: 1100px){
.col-sm-6#storia{
    width: 100%;
    height: 100%;
    float: none;


}
}

@media only screen and (min-width: 768px){
.col-sm-6#bottone{
    width: 49%;
    margin:0px;
	padding: 0px;

}
}
@media only screen and (max-width: 1100px){
.col-sm-6#bottone{
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	padding: 0px;
	float: none;


}
}
@media only screen and (min-width: 768px){
.col-md-1#separatore {
    width: 1%;
    margin:0px;
	padding: 0px;
	height: 220px;
	border-left:1px solid #000;
}
}
@media only screen and (max-width: 1100px){
.col-md-1#separatore {
    display: none;
    width: 0%;
    float: none;
}
}
/*toggle*/
div img
{
	width:2em;
	height:2em;
}

img.extLink
{
	height : 1.5em;
	width : auto;
	padding : 0 0 0 0;
	margin : 0 0 0 0;
}

#maintitle
{
	font-size:300%;
}

div.data
{
	text-align: center;
}
li
{
	list-style: none;
}

div img#corsoantico
{
	width: 24em;
	height: 4em;
}